// -------------------------------------
//   index.styl
// -------------------------------------

// -------------------------------------
//   Libs
// -------------------------------------
@import 'vendor/normalize.css'

// -------------------------------------
//   Core
// -------------------------------------
@import 'base'

.wine, .baking, .tea, .icecream, .metal, .sneakers
  visibility hidden

.end-frame
  visibility hidden
  width 180px
  position absolute
  text-align center
  top 60%
  left 50%
  -webkit-transform translate(-50%, -50%)
  -moz-transform translate(-50%, -50%)
  -ms-transform translate(-50%, -50%)
  -o-transform translate(-50%, -50%)
  transform translate(-50%, -50%)


  h1
    font-size 21px
    color $grey
    font-family 'Roboto', sans-serif
    font-weight 400
    position relative
    top 20px

  p
    font-size 12px
    color $grey
    font-family 'Roboto', sans-serif
    margin-bottom 20px
    position relative
    top 20px

  a
    text-decoration none
    color $white
    background $blue
    padding 10px 30px
    font-size 12px
    border-radius 3px
    position relative
    top 20px
